*{
    box-sizing: border-box;
}

body {
    background-color: #000000;
    background-image: url("../images/what-the-hex.png");
    height: 90%;
}

header {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    height:78px;
    border-bottom: 1px solid #cccccc;
    margin-bottom:20px;
    min-width: 960px;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 10;
}

nav {
    float: right;
    height:78px;
}
    
ul {
    display:block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    text-align: center;
    padding: 30px 0px 0 20px;
}

/* Vertical Line Divider between nav options */
.divider {
    color: #e0e0e0;
    padding:10px;
    position:relative;
    top: 30px;
    left: 10px;
}

li a {
    float: left;
    color:#cccccc;
    text-decoration: none;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    padding: 10px;
}

header a:hover {
    background-color: #4aaaa5;
    color: #ffffff;
}

header h1 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    background-color: #4aaaa5;
    float: left;
    color: #ffffff;
    padding: 15px 20px 25px 20px;
    font-size: 1.5em;
    margin:0;
    margin-top: 15px;
    
}
    
header div{
    width: 960px;
    margin: auto;
    overflow:auto;
}
    
section {
        width: 960px;
        background-color: #ffffff;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 100px;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        padding: 5px;
        border: 1px solid #dddddd;
        overflow:auto;
}

section h1 {
        font-family: Georgia, Times, 'Times New Roman', serif;
        color: #4aaaa5;
        margin: 20px;
        font-size: 1.5em;
        border-bottom: 2px solid #cccccc;
        padding:  10px 0 20px 0;
}

section img {
        float: left;
        margin: 20px;
        width: 25%;
        overflow: auto;
}

p {
        color: #777777;
        line-height: 1.8;
}

article{
    margin: 20px;
}

footer {
    position: fixed;
    background-color:#666666;
    bottom: 0;
    right: 0;
    left:0;
    text-align: center;
    padding: 30px 0 10px 0;
    color: #ffffff;
    border-top: 8px solid #4aaaa5; 
    z-index: 10;      
}


  /*Contact Page Styling  */

form {
    margin:25px;
    color:rgb(136, 135, 135);
    line-height:1.5;
}

input {
    margin:5px;
    margin-left:0;
    width: 100%;
    line-height: 1.5em;
}

#message {
    height: 200px;
}

.submit {
    width:10%;
    background-color:#4aaaa5;
    color: #ffffff;
    border:none;
    padding: 5px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: medium;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
::placeholder { 
    color: #cccccc;
    opacity: 1; /* Firefox */
    font-size: 125%;
}

/* Internet Explorer 10-11 */
:-ms-input-placeholder { 
    color: #cccccc;
}

/* Microsoft Edge */
::-ms-input-placeholder { 
    color: #cccccc;
}

.portfolio {
    display: inline-block;
    width: 100%;
    margin: 1em;
    z-index: 1;
    overflow: hidden;
}


/* Portfolio Page Styling */
  section div {
      width: 35%;
      display: inline-block;
      overflow:hidden;
      z-index: 1;
      position: relative;
      left: 17px;
}

.portfolioHeader {
    width: 100%;
    background-color: #4aaaa5;
    height: 50px;
    position: absolute;
    bottom: 0px;
    left: 17px;
    right: 0px;
    z-index: 2;
    text-align: center;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #ffffff;
    line-height: 50px;
    font-size: 1.2em;
}